<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edsystem.mapper.NoticeMapper">
    <insert id="insertNotice" parameterType="com.edsystem.pojo.Notice">
        insert into notice(title,content,recept_role,sendtime) values (#{title},#{content},#{recept_role},CURRENT_TIMESTAMP())
    </insert>
    <delete id="deleteNotice" parameterType="int">
        delete from notice where id=#{id}
    </delete>
    <update id="updateNotice" parameterType="com.edsystem.pojo.Notice">
        update notice set title=#{title},content=#{content},recept_role=#{recept_role},sendtime=CURRENT_TIMESTAMP() where id=#{id}
    </update>
    <select id="selectNoticeList" resultMap="noticeMap">
        select * from notice
    </select>
    <select id="selectNoticeByRole" resultMap="noticeMap">
        select * from notice
        <where>
            <if test="param1 != null">
                recept_role=#{param1}
            </if>
        </where>
        limit #{param2},#{param3}
    </select>
    <select id="totalSize" resultType="int">
        select count(*) from notice
        <where>
        <if test="receptRole != null">
            recept_role=#{receptRole}
        </if>
    </where>
    </select>
    <select id="selectAllNotice" resultMap="noticeMap">
        select * from notice limit #{param1},#{param2}
    </select>
    <select id="totalSizeNotice" resultType="int">
        select count(*) from notice
    </select>
    <resultMap id="noticeMap" type="com.edsystem.pojo.Notice">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="recept_role" column="recept_role"/>
        <result property="sendtime" column="sendtime"/>
    </resultMap>
</mapper>