<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edsystem.mapper.ResetPwdMapper">

    <select id="queryManagerInfo" resultType="manager">
        SELECT id,managerId,managerName,nickName,sex,phone,email from
         manager WHERE managerId=#{managerId} and `phone`=#{phone}
    </select>

    <select id="queryTeacherInfo" resultType="teacher">
        SELECT id,teacherId,teacherName,sex,birthday,grade,`rank`,`jobDate`,`college`,phone
         from teacher where teacherId='T0001' and `phone`=#{phone}
    </select>

    <select id="queryStudentInfo" resultType="student">
        SELECT id,studentId,studentName,birthday,phone,email,`address`,note,`status`,`level`,
        createTime,sex from student where studentId=#{studentId} and `phone`=#{phone}
    </select>

    <update id="updateManagerPwd" >
        update manager set `password`=#{password}   where managerId=#{id}
    </update>

    <update id="updateTeacherPwd" >
        update teacher set `password`=#{password}   where teacherId=#{id}
    </update>

    <update id="updateStudentPwd" >
        update student set `password`=#{password}   where studentId=#{id}
    </update>
</mapper>