<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.SCourseMapper">
    <!--分页-->
    <select id="managerCherckAllStudetScore" parameterType="map" resultType="sCourse">
        select s.studentId,s.studentName,s.phone studentPhone,s.address,s.level,s.sex studentSex
        ,c.courseId,c.courseName,c.courseTime,c.credit,c.lessonType
        ,sc.score
        ,t.teacherId,t.teacherName,t.sex teacherSex,t.grade,t.rank,t.phone teacherPhone
        from
        student s join course c
        join student_course sc on sc.studentId=s.studentId and sc.courseId = c.courseId
        join teacher t on sc.teacherId=t.teacherId join teacher_course tc
        on tc.teacherId=sc.teacherId and tc.courseId=sc.courseId
        <where>
            <if test="map.studentId != null">
                s.studentId like concat("%",#{map.studentId},"%")
            </if>
            <if test="map.studentName != null">
                s.studentName like concat("%",#{map.studentName},"%")
            </if>
            <if test="map.teacherId != null">
                t.teacherId like concat("%",#{map.teacherId},"%")
            </if>
            <if test="map.teacherName != null">
                t.teacherName like concat("%",#{map.teacherName},"%")
            </if>
            <if test="map.courseId != null">
                c.courseId like concat("%",#{map.courseId},"%")
            </if>
            <if test="map.courseName != null">
                c.courseName like concat("%",#{map.courseName},"%")
            </if>
        </where>
        order by s.studentId
    </select>


</mapper>