<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.StudentInfoMapper">
   
    <update id="updateStudentInfo" parameterType="student">
        update student 
         <set>
             <if test="phone != null">
                 phone = #{phone},
             </if>
             <if test="sex!=null">
                 sex = #{sex},
             </if>
             <if test="email != null">
                 email = #{email},
             </if>
             <if test="address !=null">
                 address = #{address},
             </if>
         </set>
         where studentId=#{studentId} ;
    </update>

    <select id="queryMyInfo" resultType="student">
        select * from student where studentId=#{studentId}
    </select>
</mapper>