<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edsystem.mapper.TeacherMapper">
    <select id="findAllList" resultType="com.edsystem.pojo.Teacher">
        select * from teacher limit #{param1},#{param2};

    </select>
    <select id="countTeacherTotalSize" resultType="java.lang.Integer">
         select count(*) from teacher;
     </select>

    <select id="searchTeacher" resultType="com.edsystem.pojo.Teacher">
         select * from teacher where teacherId=#{SearchId};
     </select>

    <insert id="addTeacherList" parameterType="com.edsystem.pojo.Teacher">
         insert into teacher(teacherId,teacherName,sex, birthday, grade, `rank`, jobDate,college,password,phone,roleId,jobsign,`status`)
         values(#{teacherId},#{teacherName},#{sex},#{birthday},#{grade},#{rank},#{jobDate},#{college},123456,#{phone},null,null,1)
     </insert>

    <delete id="deleteTeacherList" parameterType="com.edsystem.pojo.Teacher">
        delete from teacher where teacherId=#{teacherId}
    </delete>

    <update id="updateTeacherList" parameterType="com.edsystem.pojo.Teacher">
         update teacher set teacherName=#{teacherName}, sex=#{sex}, birthday=#{birthday} , grade=#{grade}, `rank`=#{rank}, jobDate=#{jobDate},college=#{college},phone=#{phone} where teacherId=#{teacherId}
     </update>

    <update id="addTeacherjobsign" parameterType="com.edsystem.pojo.Teacher">
         update teacher set jobsign=#{jobsign},status=2 where teacherId=#{teacherId}
     </update>
</mapper>