<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edsystem.mapper.TeacherCourseMapper">
    <select id="query" resultType="tCourse" parameterType="map">
        select c.courseId,t.teacherId,c.courseName,c.courseTime,c.credit,c.lessonType,
        t.teacherName,tc.lessonTime,tc.place,tc.isOpen from teacher t join teacher_course tc
        on t.teacherId=tc.teacherId JOIN course c on c.courseId=tc.courseId
        where t.teacherId=#{teacherId} order by tc.lessonTime limit #{page},#{size}
    </select>

    <select id="queryConunt" parameterType="map" resultType="int">
        select count(*) from teacher t join teacher_course tc
        on t.teacherId=tc.teacherId JOIN course c on c.courseId=tc.courseId
        where t.teacherId=#{teacherId}
    </select>

    <select id="queryCheckCount" resultType="int">
        select count(*) checkCount from student_course stc join teacher_course tc on
         stc.teacherId=tc.teacherId and stc.courseId=tc.courseId
          where stc.courseId=#{courseId} and stc.teacherId=#{teacherId}
    </select>


    <select id="queryCheckStudent" resultType="student">
        select s.studentId,s.studentName,s.birthday,s.phone,s.email,s.address,
        s.level,s.createTime,s.sex from student s join student_course stc on
         s.studentId=stc.studentId where teacherId=#{teacherId} and courseId=#{courseId}
          order by s.studentId limit #{page},#{size}
    </select>

    <select id="queryCheckStudentCount" resultType="int">
        select count(*) from student s join student_course stc on
         s.studentId=stc.studentId where teacherId=#{teacherId} and courseId=#{courseId}
    </select>
</mapper>