<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edsystem.mapper.XuejiMapper">
    <select id="findAllList" resultType="com.edsystem.pojo.Xueji">
        select * from xueji limit #{param1},#{param2};

    </select>
    <select id="countXuejiTotalSize" resultType="java.lang.Integer">
         select count(*) from xueji;
     </select>

    <select id="searchXueji" resultType="com.edsystem.pojo.Xueji">
         select count(*) from xueji where Id=#{SearchId};
     </select>

    <insert id="addXuejiList" parameterType="com.edsystem.pojo.Xueji">
         insert into xueji(id,username,sex,phone,email,address,xuejixinxi)
         values(#{id},#{username},#{sex},#{phone},#{email},#{address},#{xuejixinxi})
     </insert>

    <delete id="deleteXuejiList" parameterType="com.edsystem.pojo.Xueji">
        delete from xueji where id=#{id}
    </delete>
    <update id="updateXuejiList" parameterType="com.edsystem.pojo.Xueji">
         update xueji set username=#{username}, sex=#{sex}, phone=#{phone} , email=#{email}, `address`=#{address}, xuejixinxi=#{xuejixinxi}where id=#{id}
     </update>

    <update id="addXuejijobsign" parameterType="com.edsystem.pojo.Xueji">
         update teacher set jobsign=#{jobsign},`status`=2 where Id=#{Id}
     </update>
</mapper>